
 
<ul>
   
    <li><a routerLink="recherche">recherche  Incidant </a></li>
    <li><a routerLink="mails">Alert </a></li>
    <li><a routerLink="statistiques">statistiques</a></li>
    </ul> <div class="blog-container">
   
        <div class="blog-box">
            <div class="blog-img">
                <a href="https://www.orange.tn" target="_blank"><img src="../../assets/images/orange.jpg" alt="Blog"></a>
            
       </div>
<div class="blog-text"><span> 18 July 2022 / offre</span><a href="https://www.orange.tn" target="_blank"  class="blog-title">Edawa5 </a> 
<p>Téléchargez la nouvelle application mobile JAYEG sans attendre et bénéficiez de beaucoup d’avantages</p><a href="https://www.orange.tn"  target="_blank">Read  More </a> 
</div>
        </div>
    
   
        <div class="blog-box">
            <div class="blog-img">
                <a href="https://www.orange.tn" target="_blank"><img src="../../assets/images/jayeg.png" alt="Blog"></a>
            
       </div>
<div class="blog-text"><span> 18 July 2022 / offre</span><a href="https://www.orange.tn"  target="_blank" class="blog-title">  JAYEG  </a> 
<p>Le tarif minute le plus avantageux pour communiquer plus avec tout le monde.</p><a href="https://www.orange.tn" target="_blank">Read  More </a> 
</div></div>
    
        <div class="blog-box">
            <div class="blog-img">
                <a href="https://www.orange.tn" target="_blank"><img src="../../assets/images/ghrami.png" alt="Blog"></a>
            
       </div>
<div class="blog-text"><span> 18 July 2022 / offre</span><a href="https://www.orange.tn" target="_blank" class="blog-title"> Ghrami Net </a> 
<p>Vivez votre passion digitale et restez connecté partout où vous allez.</p><a href="https://www.orange.tn" target="_blank">Read  More </a> 
</div></div></div>
    
    <router-outlet></router-outlet>